@model Blog
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-11">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Photo"></label>
                    <input asp-for="Photo" class="form-control" accept="image/*">
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Commentator"></label>
                    <input asp-for="Commentator" class="form-control">
                    <span asp-validation-for="Commentator" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Comments"></label>
                    <input asp-for="Comments" class="form-control">
                    <span asp-validation-for="Comments" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateTime"></label>
                    <input asp-for="DateTime" class="form-control">
                    <span asp-validation-for="DateTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="row mt ml">
        <div class="col-lg-11">
            <a class="btn btn-success" asp-action="Index">Back</a>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/16.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#Description'))
            .catch(error => {
                console.error(error);
            });
    </script>
}