@model Product
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Product</h2>

<div class="container" style="overflow:hidden;">
    <div class="row">
        <div class="col-lg-10">
            <h3>@Model.Name</h3>
            <h4>$@Model.Price</h4>
        </div>
    </div>
    <div class="row mt ml-5">
        <form method="post">
            <button type="submit" class="btn btn-danger ml-5">Delete</button>
        </form>
    </div>
    <div class="row mt ml-5">
        <a class="btn btn-success" asp-action="Index">Back</a>
    </div>
</div>

