
@{
    ViewData["Title"] = "Index";
}

<section style="overflow:hidden;">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="elfsight-app-43223e43-5a6f-49a5-9346-5dc26f7d050c"></div>
        </div>
    </div>
</section>