@model Image
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Images</h2>

<div class="container" style="overflow:hidden;">
    <div class="row">
        <div class="col-lg-10">
            <h4>Images</h4>
            <div> <img src="~/img/@Model.Image1" width="300px" height="200px" /></div>
            <br />
            <div> <img src="~/img/@Model.Image2" width="300px" height="200px" /></div>
            <br />
            <div> <img src="~/img/@Model.Image3" width="300px" height="200px" /></div>
            <br />
            <div> <img src="~/img/@Model.Image4" width="300px" height="200px" /></div>
        </div>
    </div>
    <div class="row mt ml-5">
        <form method="post">
            <button type="submit" class="btn btn-danger ml-5">Delete</button>
        </form>
    </div>
    <div class="row mt ml-5">
        <a class="btn btn-success" asp-action="Index">Back</a>
    </div>
</div>
