@model SliderText
@{
    ViewData["Title"] = "Index";
}

<h2>SliderText</h2>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <th scope="row">1</th>
                <td>@Model.Title</td>
                <td>@Model.Description</td>
                <td>
                    <button class="btn btn-primary btn-xs">
                        <a asp-controller="SliderText" asp-action="Update" asp-route-id="@Model.Id">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </button>
                </td>
            </tr>
    </tbody>
</table>
