@model Brand
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-11">
            <form method="post">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="row mt ml">
        <div class="col-lg-11">
            <a class="btn btn-success" asp-action="Index">Back</a>
        </div>
    </div>
</div>